<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdd.junit.junittest.model.dao.UserMapper">

    <resultMap id="ActorDTO" type="com.tdd.junit.junittest.model.dto.ActorDTO">
        <result column="ACTOR_ID" property="actorId"/>
        <result column="FIRST_NAME" property="firstName"/>
        <result column="LAST_NAME" property="lastName"/>
        <result column="LAST_UPDATE" property="lastUpdate"/>
    </resultMap>

    <resultMap id="ActorVO" type="com.tdd.junit.junittest.model.vo.ActorVO">
        <result column="ACTOR_ID" property="actorId"/>
        <result column="FIRST_NAME" property="firstName"/>
        <result column="LAST_NAME" property="lastName"/>
        <result column="LAST_UPDATE" property="lastUpdate"/>
    </resultMap>

    <select id="findAll" resultMap="ActorVO">
        SELECT ACTOR_ID
             , FIRST_NAME
             , LAST_NAME
             , LAST_UPDATE
        FROM actors
    </select>

    <select id="findActor" parameterType="String" resultMap="ActorVO">
        SELECT ACTOR_ID
             , FIRST_NAME
             , LAST_NAME
             , LAST_UPDATE
        FROM actors
        WHERE ACTOR_ID = #{actorId}
    </select>

    <insert id="saveActor" parameterType="String">

    </insert>
</mapper>
